.certificates-container {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  /* text-align: center; */
}

.edu-heading-label {
  background-color: #64ffda;
  color:  #0a192f;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight:bold;
  white-space: nowrap;
}

.edu-heading-line {
  flex-grow: 1;
  height: 2px;
  background-color:  #64ffda;
  margin-left: 10px;
}

.cert-list {
  margin-left: 150px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: left;

  gap: 12px;
  margin-bottom: 20px;
  padding: 20px;
}
.cert-list-l {
  margin-left: 20px;
  margin: 5px;
  justify-content: left;
}

.cert-button {
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #555;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.cert-button:hover,
.cert-button.active {
  background-color: #64ffda;
}

.cert-display img {
  max-width: 100%;
  max-height: 350px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.ccert-display img {
  max-width: 100%;
  max-height: 500px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .certificates-container {
  display:inline;
  }
.cert-list {
  margin-left: 0;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: left;
  max-width: 90%;

  gap: 12px;
  margin-bottom: 5px;
  padding: 5px;
}
.cert-display img {
  max-width: 90%;
  margin:5%
}
}